<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This will be a form to create a new event</h1>

    <form action="/events" method="post">
        <div>
            <label for="eventName">Event name:</label>
            <input type="text" name="eventName" required placeholder="A very important meetin...">
        </div>
        <div>
            <label for="location">Location:</label>
            <select name="location" required>
                <option value="">Add a location</option>
                <option value="in_person">In person</option>
                <option value="virtual">Virtual</option>
            </select>
        </div>
        <div>
            <label for="address">Address:</label>
            <input type="text" required placeholder="Negra Arroyo Lane, 368, ABQ">
        </div>
        <div>
            <label for="description">Description / Instructions: </label>
            <textarea name="description" id="" cols="30" rows="10" placeholder="Write any details your invitee should know about the event" required></textarea>
        </div>
        <div>
            <label for="slug">Link:</label>
            <input type="text" name="slug" required>
        </div>
        <div>
            <button>Create meetin</button>
        </div>
    </form>

    <script>
        
    </script>
</body>
</html>